<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description" content="Name of your web site">
	<meta name="author" content="Marketify">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>Tarif Aljnidi</title>

	<!-- STYLES -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/plugins.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
	<!-- /STYLES -->
	<style>
		.myimg {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
		}

		.center {
			margin: auto;
			/* width: 100%; */
			height:350px;
			width:1170px;
			/* padding: 10px; */
			margin-bottom: 25px;
		}

.title_holder1 {
  margin-top:20px;
}
	</style>
</head>

<body>

	<!-- WRAPPER ALL -->
	<div class="arlo_tm_wrapper_all">

		<div id="arlo_tm_popup_blog">
			<div class="container">
				<div class="inner_popup scrollable"></div>
			</div>
			<span class="close"><a href="#"></a></span>
		</div>

		<!-- PRELOADER -->
		<div class="arlo_tm_preloader">
			<div class="spinner_wrap">
				<div class="spinner"></div>
			</div>
		</div>
		<!-- /PRELOADER -->

		<!-- MOBILE MENU -->
		<div class="arlo_tm_mobile_header_wrap">
			<div class="main_wrap">
				<!-- <div class="logo">
					<img src="img/logo/mobile_logo.png" alt="" />
				</div> -->
				<div class="arlo_tm_trigger">
					<div class="hamburger hamburger--collapse-r">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="arlo_tm_mobile_menu_wrap">
				<div class="mob_menu">
					<ul class="anchor_nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<!-- <li><a href="#services">Services</a></li> -->
						<li><a href="#news">Portfolio</a></li>
						<!-- <li><a href="#news">News</a></li> -->
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /MOBILE MENU -->

		<!-- CONTENT -->
		<div class="arlo_tm_content" >

			<!-- LEFTPART -->
			<div class="arlo_tm_leftpart_wrap">
				<div class="leftpart_inner">
					<div class="logo_wrap">
						<!-- <a href="#"><img src="img/logo/desktop-logo.png" alt="" /></a> -->
					</div>
					<div class="menu_list_wrap">
						<ul class="anchor_nav">
							<li><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<!-- <li><a href="#services">Services</a></li> -->
							<li><a href="#news">Portfolio</a></li>
							<li><a href="#Skills">Skills</a></li>
							<!-- <li><a href="#news">News</a></li> -->
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>
					<div class="leftpart_bottom">
						<div class="social_wrap">
							<ul>
								<li><a href="#"><i class="xcon-facebook"></i></a></li>
								<li><a href="#"><i class="xcon-twitter"></i></a></li>
								<li><a href="#"><i class="xcon-linkedin"></i></a></li>
								<li><a href="#"><i class="xcon-instagram"></i></a></li>
								<li><a href="#"><i class="xcon-behance"></i></a></li>
							</ul>
						</div>
					</div>
					<a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
				</div>
			</div>
			<!-- /LEFTPART -->

			<!-- RIGHTPART
			<div class="arlo_tm_rightpart">
				<div class="rightpart_inner">
					<div class="arlo_tm_section" id="home">
						<div class="arlo_tm_hero_header_wrap">
							<div class="arlo_tm_universal_box_wrap">
								<div class="bg_wrap">
									<div class="overlay_image hero jarallax" data-speed="0.1"></div>
									<div class="overlay_color hero"></div>
								</div>
								<div class="content hero">
									<div class="inner_content">
										<div class="image_wrap">
											<img src="img/hero/new.png" alt="" />
										</div>
										<div class="name_holder" style="padding:40px">
											<h3>Tarif <span>Aljnidi</span></h3>
										</div>
										<div class="text_typing">
											<p>I'm a <span class="arlo_tm_animation_text_word"></span></p>
										</div>
									</div>
								</div>
								<div class="arlo_tm_arrow_wrap bounce anchor">
									<a href="#about"><i class="xcon-angle-double-down"></i></a>
								</div>
							</div>
						</div>
					</div>
					 -->

					<!-- ABOUT -->
					<div class="arlo_tm_section relative" id="about">
						<div class="arlo_tm_about_wrapper_all">
							<div class="container"  style="margin-top:100px;">
								<div class="arlo_tm_title_holder">
									<h3>About Me</h3>
									<span>Main informations about me</span>
								</div>
								<div class="arlo_tm_about_wrap">
									<div class="author_wrap">
										<div class="leftbox">
											<div class="about_image_wrap parallax" data-relative-input="true">
												<div class="image layer" data-depth="0.1">
													<img src="img/about/550x640.jpg" alt="" />
													<div class="inner" data-img-url="img/hero/face.jpg"></div>
												</div>
												<!-- <div class="border layer" data-depth="0.2">
													<img src="img/hero/6.jpg" alt="" />
													<div class="inner"></div>
												</div> -->
											</div>
										</div>
										<div class="rightbox">
											<div class="arlo_tm_mini_title_holder">
												<!-- <h4>I'm Tarif Aljnidi and <span class="arlo_tm_animation_text_word"></span></h4> -->
											</div>
											<div class="definition">
												<p align="justify">Hi! My name is <strong>Tarif Aljnidi</strong>. I am a Web Developer, and I'm very passionate and dedicated to my work. With my experience as a professional Web developer, I have acquired the skills and
													knowledge
													necessary to make the projects a success. I enjoy every step of the design process, from discussion and collaboration to concept and execution, but I find the most satisfaction in seeing the finished product do everything
													for you that it was created to do.</p>
											</div>
											<div class="about_short_contact_wrap">
												<ul>
													<li>
														<span><label>Birthday:</label> 17.04.1986</span>
													</li>
													<li>
														<span><label>Age:</label> 33</span>
													</li>
													<li>
														<span><label>City:</label> Pétange, Luxembourg</span>
													</li>
													<li>
														<span><label>Interests:</label> Soccer, UFC</span>
													</li>
													<li>
														<span><label>Study:</label> Luxembourg University</span>
													</li>
													<li>
														<span><label>Degree:</label> Master in computer science</span>
													</li>
													<!-- <li>
														<span><label>Website:</label> <a href="https://tarifaljnidi-portfolio-j40kpp.vertex360.co
">mywebsite</a></span>
													</li> -->
													<li>
														<span><label>Mail:</label> <a href="tarifaljnidi1986@hotmail.com">
																<font size="-2">tarifaljnidi1986@hotmail.com</font>
															</a></span>
													</li>
													<li>
														<span><label>Phone:</label> <a href="#">+352 621 433 737</a></span>
													</li>
													<!-- <li>
														<span><label>Twitter:</label> <a href="#">&#64;myusername</a></span>
													</li> -->
												</ul>
											</div>
											<div class="buttons_wrap">
												<ul>
													<li>
														<a href="index.html"><span>Download CV</span></a>
													</li>
													<li class="anchor">
														<a href="#contact"><span>Send Message</span></a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /ABOUT -->


									<!-- PORTFOLIO -->
									<div class="arlo_tm_section relative" id="news">
										<div class="arlo_tm_portfolio_wrapper_all">

											<!-- PORTFOLIO FILTER -->
											<div class="arlo_tm_second_portfolio">
											<div class="container">
												<div class="arlo_tm_portfolio_wrap">
													<div class="arlo_tm_title_holder portfolio">
														<h3>Projects</h3>
														<span>Check out some of my previous projects</span>
													</div>
													<div class="arlo_tm_portfolio_titles"></div>
													<ul class="arlo_tm_portfolio_filter">
														<li><a href="#" class="current" data-filter="*">All</a></li>
														<li><a href="#" data-filter=".javascript">Javascript</a></li>
														<li><a href="#" data-filter=".java">Java</a></li>
														<li><a href="#" data-filter=".c">c#</a></li>
														<li><a href="#" data-filter=".wordpress">Wordpress</a></li>
														<li><a href="#" data-filter=".android">Android</a></li>
														<li><a href="#" data-filter=".css">Css</a></li>
														<li><a href="#" data-filter=".FullStack">FullStack</a></li>
													</ul>
													<ul class="arlo_tm_portfolio_list gallery_zoom">
														<li class="javascript">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Restaurant Website" data-category="Javascript">
																<a href="portfolio-single1">
																	<img src="img/portfolio/restaurantsmall.jpg" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/restaurantsmall.jpg" width="300px;"></div>
																</a>
															</div>
														</li>
														<li class="android">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="News App Android" data-category="Android">
																<a href="portfolio-single8">
																	<img src="img/portfolio/android600.png" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/android600.png"></div>
																</a>
															</div>
														</li>
															<li class="FullStack">
																<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Angular and Spring Boot application" data-category="FullStack">
																	<a href="portfolio-single11">
																		<img src="img/portfolio/restaurantsmall.jpg" alt="" />
																		<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/onlinebookstore600.png" width="300px;"></div>
																	</a>
																</div>
															</li>
															<li class="FullStack">
																<div class="entry arlo_tm_portfolio_animation_wrap" data-title="React filter real estate project" data-category="FullStack">
																	<a href="portfolio-single12">
																		<img src="img/portfolio/filterreactbigimage1600.png" alt="" />
																		<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/filterreactbigimage1600.png" width="300px;"></div>
																	</a>
																</div>
															</li>
														<!-- <li class="java">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Onlineshopping" data-category="Java">
																<a href="portfolio-single3">
																	<img src="img/portfolio/onlineshoppingsmall.jpg" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/onlineshoppingsmall.jpg"></div>
																</a>
															</div>
														</li> -->

														<!-- <li class="android">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Scan QR Code in Android App" data-category="Android">
																<a href="portfolio-single5">
																	<img src="img/portfolio/qrcode600.png" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/qrcode600.png"></div>
																</a>
															</div>
														</li> -->
														<!-- <li class="c">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Onlineshopping_C#" data-category="c">
																<a href="portfolio-single9">
																	<img src="img/portfolio/onlineshop_c600.png" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/onlineshop_c.png"></div>
																</a>
															</div>
														</li>
														<li class="c">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Sales_managment_system" data-category="c">
																<a href="portfolio-single10">
																	<img src="img/portfolio/sales_mangment.png" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/sales_mangment.png"></div>
																</a>
															</div>
														</li> -->
														<!-- <li class="javascript">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Weather Application" data-category="Javascript">
																<a href="portfolio-single2">
																	<img src="img/portfolio/weathersmall.jpg" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/weathersmall.jpg"></div>
																</a>
															</div>
														</li> -->
														<!-- <li class="wordpress">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Ecommerce website using wordpress" data-category="Wordpress">
																<a href="portfolio-single4">
																	<img src="img/portfolio/wordpresssmall.jpg" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/wordpresssmall.jpg"></div>
																</a>
															</div>
														</li> -->

														<!-- <li class="javascript">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Search Reddit App" data-category="javascript">
																<a href="portfolio-single6">
																	<img src="img/portfolio/redditsmall.png" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/redditsmall.png"></div>
																</a>
															</div>
														</li> -->
														<!-- <li class="css">
															<div class="entry arlo_tm_portfolio_animation_wrap" data-title="Responsive eCommerce using CSS Grid" data-category="Css Grid">
																<a href="portfolio-single7">
																	<img src="img/portfolio/responsivesmall.jpg" alt="" />
																	<div class="arlo_tm_portfolio_image_main" data-img-url="img/portfolio/responsivesmall.jpg"></div>
																</a>
															</div>
														</li> -->

													</ul>
												</div>
											</div>
										</div>
										<!-- /PORTFOLIO FILTER -->

										</div>
									</div>
									<!-- /PORTFOLIO -->




	<!-- SKILLS -->
	<div id="Skills" class="arlo_tm_section">
		<div class="arlo_tm_skills_wrap">
			<div class="container">
				<div class="inner_wrap">
					<div class="leftbox">
						<div class="arlo_tm_mini_title_holder">
							<h4>Some About my Abilities</h4>
						</div>
						<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard
								dummy text since. Lorem Ipsum is simply.</p> -->
					</div>
					<div class="rightbox">
						<div class="progress_bar_wrap_total">
							<div class="arlo_tm_progress_wrap" data-size="small" data-round="c" data-strip="off">
								<div class="arlo_tm_progress" data-value="70" data-color="#000">
									<span><span class="label">Java - <span class="experience"></span></span><span class="number">70%</span></span>
									<div class="arlo_tm_bar_bg">
										<div class="arlo_tm_bar_wrap">
											<div class="arlo_tm_bar"></div>
										</div>
									</div>
								</div>
								<div class="arlo_tm_progress" data-value="68" data-color="#000">
									<span><span class="label">Spring MVC, Hibernet, Jsp/servlet - <span class="experience"></span></span><span class="number">68%</span></span>
									<div class="arlo_tm_bar_bg">
										<div class="arlo_tm_bar_wrap">
											<div class="arlo_tm_bar"></div>
										</div>
									</div>
								</div>
								<div class="arlo_tm_progress" data-value="71" data-color="#000">
									<span><span class="label">Javascript, Html/css, Jquery, Angular, Bootstrap - <span class="experience"></span></span><span class="number">71%</span></span>
									<div class="arlo_tm_bar_bg">
										<div class="arlo_tm_bar_wrap">
											<div class="arlo_tm_bar"></div>
										</div>
									</div>
								</div>

								<div class="arlo_tm_progress" data-value="65" data-color="#000">
									<span><span class="label">Mysql, MonogoDB - <span class="experience"></span></span><span class="number">65%</span></span>
									<div class="arlo_tm_bar_bg">
										<div class="arlo_tm_bar_wrap">
											<div class="arlo_tm_bar"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- CONTACT & FOOTER -->
	<div class="arlo_tm_section" id="contact">
		<div class="container">
			<div class="arlo_tm_title_holder contact">
				<h3>Contact Me</h3>
				<span>Get in touch with me</span>
			</div>
		</div>
		<div class="arlo_tm_footer_contact_wrapper_all">
			<div class="arlo_tm_contact_wrap_all">
				<div class="container">
					<div class="leftbox">
						<div class="arlo_tm_mini_title_holder contact">
							<h4>Get in Touch</h4>
						</div>
						<div class="short_info_wrap">
							<ul>
								<li>
									<p><label>Address:</label><span>Pétange, Luxembourg</span></p>
								</li>
								<li>
									<p><label>Email:</label><span><a href="mailto:example@gmail.com">tarifaljnidi1986@hotmail.com</a></span></p>
								</li>
								<li>
									<p><label>Phone:</label><span>+352 621 433 737</span></p>
								</li>
								<!-- <li>
													<p><label>Website:</label><span><a href="mailto:example@gmail.com">www.turbo360.co/vertex/tarifaljnidi-portfolio-j40kpp</a></span></p>
												</li> -->
							</ul>
						</div>
					</div>
					<div class="rightbox">
						<div class="arlo_tm_contact_wrap">
							<div class="main_input_wrap">
								<form action="/" method="post" class="contact_form" id="contact_form">
									<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
									<div class="empty_notice"><span>Please Fill Required Fields</span></div>
									<div class="wrap">
										<input id="name" type="text" placeholder="Your Name">
									</div>
									<div class="wrap">
										<input id="email" type="text" placeholder="Your Email">
									</div>
									<div class="wrap">
										<textarea id="message" placeholder="Your Message"></textarea>
									</div>
									<div class="arlo_tm_button">
										<a id="send_message" href="#"><span>Send Message</span></a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="arlo_tm_footer_wrap">
				<div class="container">
					<p>&copy; Copyright 2019. All Rights are Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- /CONTACT & FOOTER -->

	</div>
	</div>
	<!-- /RIGHTPART -->

	<a class="arlo_tm_totop" href="#"></a>

	</div>
	</div>
	<!-- / WRAPPER ALL -->

	<!-- SCRIPTS -->
	<script src="js/jquery.js"></script>
	<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->
	<script src="js/plugins.js"></script>
	<script src="js/init.js"></script>
	<!-- /SCRIPTS -->

</body>

</html>
